*  {
    box-sizing: border-box;

}

section {
    align-content: space-around;
}

.header {
    width: 100%;
    align-items: center;
    background-color: cadetblue;
    padding: 4%;
    text-align: center;
   
}



.searchBtn {
    height: 20px;
    width: 25px;
}

.saved {
    text-align: initial;
    background-color: lightskyblue;
}

.locationSearch {
    text-align: center;
    width: 10%;
}

.current {
    text-align: center;
    background-color: green;
}

.searched {
    background-color: indigo;
}

.forecastContainer {
    display: inline-flex;
}

.forecastStyle {

    background-color: lightskyblue;
}

.capitalize {
    text-transform: capitalize;
}

.hide {
    display: none;
}



  